body {
	background-color: rgb(255, 238, 236);
}
#h1 {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
	color: lightcoral;
	font-size: 2.5vh;
	font-family: Helvetica;
}

#an {
	color: antiquewhite;
	font-family: Helvetica;
	font-size: medium;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 2.2vh;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	width: auto;
	height: 50vh;
}
